body {
  background: #f8e8a6;
}

h1,
p {
  text-align: center;
}

footer {
  text-align: center;
}

footer a {
  margin: 0 10px;
}

a {
  color: #008000;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: #008000;
}

.croissant-photo {
  max-width: 90%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
